header{
    position: fixed;
    width: 100vw;
    height: 7.5rem;
    z-index: 99;
    z-index: 999;
    transition: $transition-bezier;
    >nav{
        width: min(90%, 160em);
        margin: 0 auto;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >.brand{
            width: 20rem;
            >.brand-logo{
                a{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        >.menu{
            position: relative;
            display: flex;
            justify-content: space-between;
            >ul{
                display: flex;
                align-items: center;
                >li{
                    margin: 0 1.2rem;
                    a{
                        text-transform: uppercase;
                        font-size: 1.15rem;
                        display: flex;
                        flex-direction: column;
                        color: var(--primary);
                        font-weight: 700;
                        letter-spacing: 0.1rem;
                        white-space: normal;
                        small{
                            letter-spacing: 0.05rem;
                            margin-top: 0.6em;
                            font-weight: 400;
                        }
                    }
                }
                >.active{
                    a{
                        color: $accent;
                    }
                }
            }
            >.auth-links{
                margin-left: 3rem;
                >li:last-child{
                    margin-left: 2.5rem;
                    a{
                        background-color: var(--inv-bg);
                        border-color: var(--inv-bg);
                        color: var(--bg);
                    }
                }
                >li{
                    margin: 0;
                    a{
                        border: 0.1rem solid;
                        padding: 0.75em 2em;
                        min-width: 7rem;
                        text-align: center;
                        font-size: 1.15rem;
                        letter-spacing: 0.15rem;
                        transition: $transition-bezier;
                        &:hover{
                            background-color: var(--accent);
                            border-color: var(--accent);
                            color: var(--bg);
                            transition: $transition-bezier;
                        }
                    }
                }
                
            }
        }
    }
}
.scroll-header{
    height: 6.5rem;
    background-color: var(--light);
    box-shadow: 0 -2em 2em 1em rgba(0, 0, 0, 0.486);
    transition: $transition-bezier-2;
}